<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="TestSettings" type="Spec.Web.Core.Config.TestSettingsConfig, Spec.Web.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <specFlow>
    <trace listener="TechTalk.SpecFlow.Tracing.NullListener, TechTalk.SpecFlow" />
  </specFlow>
  <TestSettings>
    <LocalDriver 
      PlatformName="Android" 
      BrowserName="Chrome" 
      DeviceName="Android Emulator" 
      ServerUrl="http://localhost:4723/wd/hub" 
      NewCommandTimeout="90000" 
      ImplicitWait="90000" 
      PageLoad="90000">
    </LocalDriver>
    <SauceLabsDriver 
      PlatformName="Android" 
      PlatformVersion="8" 
      BrowserName="Chrome" 
      DeviceName="LG.*" 
      ServerUrl="https://eu1.appium.testobject.com/wd/hub" 
      SessionCreationTimeout="900000" 
      NewCommandTimeout="90000" 
      ImplicitWait="90000" 
      PageLoad="90000" >
    </SauceLabsDriver>
  </TestSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>